*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
li{
    list-style: none;
}
p{
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    letter-spacing: .03rem;
    font-size: 1rem;
    color: #606060;
}

/* header-section */
.header{
    width: 100%;
    height: 100vh;
    background-image: url(../images/ales-nesetril-Im7lZjxeLhg-unsplash.jpg),linear-gradient(rgba(138, 137, 137, 0.3),rgba(187, 187, 187, 0.082));
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.navbar:before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: .3;
    z-index: -1;
    background: linear-gradient(to right,rgba(138, 137, 137, 0.3),rgba(187, 187, 187, 0.082))  
}
.bg-dark{
    transition: 3ms ease;
    background: transparent!important;
    
}
.bg-dark.scrolled{
    background: rgb(26, 25, 25)!important;
}
.big-font{
    font-family: 'Russo One', sans-serif;
}
.sub-font{
    font-family: 'Work Sans', sans-serif;
}
.nav-item a{
    color: white!important; 
}
.header-section{
    width: 100%;
    height: inherit;
    color: white;
    text-align: center ;
    position: relative;
}
.center-div{
    width: 100%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.center-div-h1{
    font-family: 'Russo One', sans-serif;

    padding-bottom: 1.0rem;
    font-size: 4rem;
    letter-spacing: .3rem;
    text-shadow: 8px 8px 3px rgba(37, 16, 16, 0.486); 
    }
.center-div-p{
    font-family: 'Work Sans', sans-serif;
    padding-bottom:2rem;
    font-weight: 600;
    letter-spacing: .09rem;
    font-size: 1.5rem;
    color: #fff;
    
    text-shadow: 3px 3px 3px rgba(37, 16, 16, 0.486); 
}
.header-button a{
    border: 2px solid #fff;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    color: #fff;
    letter-spacing: .1rem;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
}
.header-button a:hover{
    color: #000;
    background: #fff;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.9);
}

/* projects section */

.projects{
    width: 100%;
    height: auto;
    margin: 100px 0;
    text-align: center;
    padding-top: 4rem;
}
.projects p{
    color:#1a1212;
}
.extra-div{
    background: #fff;  
    border: medium none;
    padding: 45px!important;
    border-radius: 3px;
    transition: 0.3s;
}
.projects h2{ font-family: 'Russo One', sans-serif;
    padding: .5rem;
    font-size: 1rem;
   font-weight: 300;
   word-spacing: .3rem;
}
.projects a{
    position: relative;
    float: right;
}
.extra-div:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.6);
    transform: translateY(-.3rem);
    background: rgb(252, 252, 252);
    filter: brightness(1.08);
}
.project-head{
    font-family: 'Russo One', sans-serif;
    color: rgb(0, 0, 0);
    padding: 1.3rem;
}
/* end of projects */

/* level skills */
.progress{
    height: 0.7rem!important;  
}
.levelskills{
    background: #222020;
    color: white;
    padding: 1.5rem 1rem;
    justify-items: center;
}
.name{
    padding-bottom: .5rem;
}
.levelskills-content{
padding: 3rem 0;
}
.side-skill-content{   
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top:1rem; */
}
.levelskills h2{ font-family: 'Russo One', sans-serif;
    padding: .5rem;
    font-size: 2rem;
   font-weight: 300;
   word-spacing: .3rem;
   letter-spacing: 3px;
}
h5{
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 1px;
   font-weight: 400;
}

html{
    scroll-behavior: smooth;
}



@media only screen and (max-width: 320px) {
    .center-div-h1{
        font-size: 3rem;
    }
    .header-button a{
        border: 1.5px solid #fff;
        border-radius: 100px;
        margin: 0 2px;
        padding: 9px 25px;
        color: #fff;
        letter-spacing: .06rem;
        text-align: center;
        font-family: 'Work Sans', sans-serif;
        font-weight: 600;
        
    }
  }